java-multigraph.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="1.0">

  <xsd:annotation>
    <xsd:appinfo>
      <jxb:globalBindings fixedAttributeAsConstantProperty="true"
                          generateIsSetMethod="true"/>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:element name="mugl" type="Graph"/>

  <xsd:complexType name="Graph">
    <xsd:choice>
      <xsd:group ref="GraphContent"/>
      <xsd:element name="graph" type="Graph" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:group name="GraphContent">
    <xsd:sequence>
        <xsd:element name="window"         type="Window"          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="background"     type="Background"      minOccurs="0" maxOccurs="1"/>
        <xsd:element name="plotarea"       type="Plotarea"        minOccurs="0" maxOccurs="1"/>
        <xsd:element name="horizontalaxis" type="HorizontalAxis"  minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="verticalaxis"   type="VerticalAxis"    minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="plot"           type="Plot"            minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="data"           type="Data"            minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:simpleType name="RGBColor">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.RGBColor"
                    parseMethod="org.multigraph.RGBColor.parse"
                    printMethod="org.multigraph.RGBColor.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:complexType name="Window">
    <xsd:attribute name="border"      type="xsd:int" default="2"/>
    <xsd:attribute name="margin"      type="xsd:int" default="2"/>
    <xsd:attribute name="padding"      type="xsd:int" default="5"/>
    <xsd:attribute name="bordercolor" type="RGBColor" default="0x000000"/>
  </xsd:complexType>

  <xsd:complexType name="Background">
    <xsd:attribute name="color"       type="RGBColor" default="0xffffff"/>
  </xsd:complexType>

  <xsd:complexType name="Plotarea">
    <xsd:attribute name="border"       type="xsd:int"  default="0"/>
    <xsd:attribute name="bordercolor"  type="RGBColor" default="0xeeeeee"/>
    <xsd:attribute name="marginbottom" type="xsd:int"  default="35"/>
    <xsd:attribute name="marginleft"   type="xsd:int"  default="38"/>
    <xsd:attribute name="margintop"    type="xsd:int"  default="10"/>
    <xsd:attribute name="marginright"  type="xsd:int"  default="35"/>
  </xsd:complexType>

  <xsd:simpleType name="DPoint">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.DPoint"
                    parseMethod="org.multigraph.DPoint.parse"
                    printMethod="org.multigraph.DPoint.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:complexType name="Axis">
    <xsd:sequence>
      <xsd:element name="labels" type="Labels" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="grid"   type="Grid" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="id"          type="xsd:string"/>
    <xsd:attribute name="type"        type="DataType"   default="number"/>
    <xsd:attribute name="position"    type="xsd:int"    default="0"/>
    <xsd:attribute name="length"      type="xsd:double" default="1.0"/>
    <xsd:attribute name="base"        type="xsd:string" default="-1 1"/>
    <xsd:attribute name="min"         type="DataValueString" default="auto"/>
    <xsd:attribute name="max"         type="DataValueString" default="auto"/>
    <xsd:attribute name="tickmin"     type="xsd:int"    default="-3"/>
    <xsd:attribute name="tickmax"     type="xsd:int"    default="3"/>
    <xsd:attribute name="linewidth"   type="xsd:int"    default="1"/>
    <xsd:attribute name="color"       type="RGBColor"   default="0x000000"/>
    <xsd:attribute name="orientation" type="AxisOrientation" default="unknown"/>
  </xsd:complexType>

  <xsd:simpleType name="DataType">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.datatypes.DataType"
                    parseMethod="org.multigraph.datatypes.DataType.parse"
                    printMethod="org.multigraph.datatypes.DataType.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="number"/>
      <xsd:enumeration value="datetime"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DataValueString">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.datatypes.string.StringValue"
                    parseMethod="org.multigraph.datatypes.string.StringValue.parse"
                    printMethod="org.multigraph.datatypes.string.StringValue.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>
  
  
  <xsd:simpleType name="AxisOrientation">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.AxisOrientation"
                    parseMethod="org.multigraph.AxisOrientation.parse"
                    printMethod="org.multigraph.AxisOrientation.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="horizontal"/>
      <xsd:enumeration value="vertical"/>
    </xsd:restriction>
  </xsd:simpleType>  

  <xsd:complexType name="HorizontalAxis">
    <xsd:complexContent>
      <xsd:restriction base="Axis">
        <xsd:attribute name="orientation" type="AxisOrientation" fixed="horizontal"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="VerticalAxis">
    <xsd:complexContent>
      <xsd:restriction base="Axis">
        <xsd:attribute name="orientation" type="AxisOrientation" fixed="vertical"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Labels">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="label" type="Label"/>
    </xsd:sequence>
    <xsd:attribute name="format"   type="xsd:string" default="%1d"/>
    <xsd:attribute name="start"    type="xsd:string" default="0"/>
    <xsd:attribute name="angle"    type="xsd:double" default="0.0"/>
    <xsd:attribute name="position" type="DPoint"     default="0 0"/>
    <xsd:attribute name="anchor"   type="DPoint"     default="0 0"/>
    <xsd:attribute name="spacing"  type="xsd:string" default="10000 5000 2000 1000 500 200 100 50 20 10 5 2 1 0.1 0.01 0.001"/>
    <xsd:attribute name="defaultDatetimeSpacing"  type="xsd:string"
     fixed="1000Y 500Y 200Y 100Y 50Y 20Y 10Y 5Y 2Y 1Y 6M 3M 2M 1M 7D 3D 2D 1D 12H 6H 3H 2H 1H"/>
  </xsd:complexType>

  <xsd:complexType name="Label">
    <xsd:attribute name="format"   type="xsd:string"/>
    <xsd:attribute name="start"    type="xsd:string"/>
    <xsd:attribute name="angle"    type="xsd:double"/>
    <xsd:attribute name="position" type="DPoint"/>
    <xsd:attribute name="anchor"   type="DPoint"/>
    <xsd:attribute name="spacing"  type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="Grid">
    <xsd:attribute name="visible" type="xsd:boolean" default="false"/>
    <xsd:attribute name="color"   type="RGBColor" default="0xeeeeee"/>
  </xsd:complexType>

  <xsd:complexType name="Plot">
    <xsd:sequence>
      <xsd:element name="horizontalaxis" type="PlotAxis" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="verticalaxis"   type="PlotAxis" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="renderer"       type="Renderer" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PlotAxis">
    <xsd:sequence>
      <xsd:element name="variable" type="PlotVariable" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="PlotVariable">
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="Renderer">
    <xsd:sequence>
      <xsd:element name="option" type="RendererOption" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="RendererType" use="required"/>
  </xsd:complexType>

  <xsd:simpleType name="RendererType">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.RendererType"
                    parseMethod="org.multigraph.RendererType.parse"
                    printMethod="org.multigraph.RendererType.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="pointline"/>
      <xsd:enumeration value="line"/>
      <xsd:enumeration value="bar"/>
    </xsd:restriction>
  </xsd:simpleType>  


  <xsd:complexType name="RendererOption">
    <xsd:attribute name="name"  type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
    <xsd:attribute name="min"   type="xsd:double"/>
    <xsd:attribute name="max"   type="xsd:double"/>
  </xsd:complexType>

  <xsd:complexType name="Data">
    <xsd:sequence>
      <xsd:element name="variables"      type="Variables"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="values"         type="xsd:string"  minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Variables">
    <xsd:sequence>
      <xsd:element name="variable"       type="Variable" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="missingvalue" type="xsd:string"/>
    <xsd:attribute name="missingop"    type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="Variable">
    <xsd:attribute name="id"      type="xsd:string" use="required"/>
    <xsd:attribute name="column"  type="xsd:int" />
    <xsd:attribute name="type"    type="DataType" default="number"/>
    <xsd:attribute name="missingvalue" type="xsd:string"/>
    <xsd:attribute name="missingop"    type="xsd:string"/>
  </xsd:complexType>

</xsd:schema>
