mugl-editor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    elementFormDefault="qualified">

  <xsd:element name="mugl" type="Graph"/>

  <xsd:complexType name="Graph">
    <xsd:choice>
      <xsd:group ref="GraphContent"/>
      <xsd:element name="graph" type="Graph" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:choice>
    <xsd:attribute name="x"   type="xsd:integer"/>
    <xsd:attribute name="y"   type="xsd:integer"/>
    <xsd:attribute name="width"   type="xsd:integer"/>
    <xsd:attribute name="height"   type="xsd:integer"/>
  </xsd:complexType>

  <xsd:group name="GraphContent">

    <!--
      * REVIEW: this does not say exactly what we want here.  What we want
      * is to specify that the 8 elements below may appear intermixed in any
      * order, but the window, legend, background, and plotarea elements may
      * each appear at most once, whereas the horizontalaxis, verticalaxis,
      * plot, data may each appear any number of times.  I am pretty sure that
      * the way this is written now will allow all 8 of them to appear any
      * number of times (because of the maxOccurrs="unbounded" on the
      * containing xsd:choice element), but so far I have not been able to
      * figure out how to write the xsd to express this exactly, so it is
      * currently written to be too lenient.  HELP!
      * mbp Thu May 10 09:07:20 EDT 2012
    -->
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
	<xsd:element name="window"         type="Window"     minOccurs="0" maxOccurs="1"/>
	<xsd:element name="ui"             type="UI"         minOccurs="0" maxOccurs="1"/>
	<xsd:element name="legend"         type="MuglLegend" minOccurs="0" maxOccurs="1"/>
	<xsd:element name="background"     type="Background" minOccurs="0" maxOccurs="1"/>
	<xsd:element name="plotarea"       type="Plotarea"   minOccurs="0" maxOccurs="1"/>
	<xsd:element name="horizontalaxis" type="Axis"       minOccurs="0" maxOccurs="unbounded"/>
	<xsd:element name="verticalaxis"   type="Axis"       minOccurs="0" maxOccurs="unbounded"/>
	<xsd:element name="plot"           type="Plot"       minOccurs="0" maxOccurs="unbounded"/>
	<xsd:element name="data"           type="Data"       minOccurs="0" maxOccurs="unbounded"/>
      </xsd:choice>
    </xsd:sequence>

  </xsd:group>




  <xsd:complexType name="Window">
    <xsd:attribute name="width"   type="xsd:integer"/>
    <xsd:attribute name="height"  type="xsd:integer"/>
    <xsd:attribute name="border"  type="xsd:integer"/>
    <xsd:attribute name="margin"  type="xsd:integer"/>
    <xsd:attribute name="padding" type="xsd:integer"/>
    <xsd:attribute name="bordercolor"/>
  </xsd:complexType>

  <xsd:complexType name="UI">
    <xsd:attribute name="eventhandler"/>
  </xsd:complexType>

  <xsd:complexType name="MuglLegend">
    <xsd:sequence>
      <xsd:element name="icon" type="LegendIcon" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="visible"/>
    <xsd:attribute name="base"/>
    <xsd:attribute name="anchor"/>
    <xsd:attribute name="position"/>
    <xsd:attribute name="frame"/>
    <xsd:attribute name="color"/>
    <xsd:attribute name="bordercolor"/>
    <xsd:attribute name="opacity"      type="xsd:decimal"/>
    <xsd:attribute name="border"       type="xsd:integer"/>
    <xsd:attribute name="rows"         type="xsd:integer"/>
    <xsd:attribute name="columns"      type="xsd:integer"/>
    <xsd:attribute name="cornerradius" type="xsd:integer"/>
    <xsd:attribute name="padding" type="xsd:integer"/>
  </xsd:complexType>

  <xsd:complexType name="LegendIcon">
    <xsd:attribute name="height" type="xsd:integer"/>
    <xsd:attribute name="width"  type="xsd:integer"/>
    <xsd:attribute name="border" type="xsd:integer"/>
  </xsd:complexType>

  <xsd:complexType name="Background">
    <xsd:sequence>
      <xsd:element name="img" type="BackgroundImage" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="color"/>
  </xsd:complexType>

  <xsd:complexType name="BackgroundImage">
    <xsd:attribute name="src"      type="xsd:string" use="required"/>
    <xsd:attribute name="anchor"   type="xsd:string"/>
    <xsd:attribute name="base"     type="xsd:string"/>
    <xsd:attribute name="position" type="xsd:string"/>
    <xsd:attribute name="frame"    type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="Plotarea">
    <xsd:attribute name="marginbottom" type="xsd:integer"/>
    <xsd:attribute name="marginleft"   type="xsd:integer"/>
    <xsd:attribute name="margintop"    type="xsd:integer"/>
    <xsd:attribute name="marginright"  type="xsd:integer"/>
    <xsd:attribute name="border"/>
    <xsd:attribute name="bordercolor"/>
  </xsd:complexType>

  <xsd:complexType name="Axis">
    <xsd:all minOccurs="0" maxOccurs="1">
      <xsd:element name="title"        type="Title"/>
      <xsd:element name="labels"       type="Labels"/>
      <xsd:element name="grid"         type="Grid"/>
      <xsd:element name="pan"          type="Pan"/>
      <xsd:element name="zoom"         type="Zoom"/>
      <xsd:element name="binding"      type="Binding"/>
      <xsd:element name="axiscontrols" type="AxisControls"/>
    </xsd:all>
    <xsd:attribute name="id"     type="xsd:string"/>
    <xsd:attribute name="type"   type="DataType"/>
    <xsd:attribute name="length"/>
    <xsd:attribute name="position"/>
    <xsd:attribute name="pregap"/>
    <xsd:attribute name="postgap"/>
    <xsd:attribute name="anchor" type="xsd:decimal"/>
    <xsd:attribute name="base"   type="xsd:string"/>
    <xsd:attribute name="min"/>
    <xsd:attribute name="minoffset"/>
    <xsd:attribute name="minposition"/>
    <xsd:attribute name="max"/>
    <xsd:attribute name="maxoffset"/>
    <xsd:attribute name="maxposition"/>
    <xsd:attribute name="positionbase"/>
    <xsd:attribute name="color"/>
    <xsd:attribute name="tickmin"/>
    <xsd:attribute name="tickmax"/>
    <xsd:attribute name="highlightstyle"/>
  </xsd:complexType>

  <xsd:simpleType name="DataType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="number"/>
      <xsd:enumeration value="datetime"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DataValueString">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Title" mixed="true">
    <xsd:attribute name="position"/>
    <xsd:attribute name="anchor"/>
    <xsd:attribute name="angle" type="xsd:decimal"/>
  </xsd:complexType>

  <xsd:complexType name="Grid">
    <xsd:attribute name="color"/>
    <xsd:attribute name="visible"/>
  </xsd:complexType>

  <xsd:complexType name="Labels">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="label" type="Label"/>
    </xsd:sequence>
    <xsd:attribute name="format"  type="xsd:string"/>
    <xsd:attribute name="start"   type="xsd:string"/>
    <xsd:attribute name="angle"   type="xsd:decimal"/>
    <xsd:attribute name="position"/>
    <xsd:attribute name="anchor"/>
    <xsd:attribute name="spacing" type="xsd:string"/>
    <xsd:attribute name="function"/>
    <xsd:attribute name="densityfactor"/>
  </xsd:complexType>

  <xsd:complexType name="Label">
    <xsd:attribute name="format"  type="xsd:string"/>
    <xsd:attribute name="start"   type="xsd:string"/>
    <xsd:attribute name="angle"   type="xsd:decimal"/>
    <xsd:attribute name="position"/>
    <xsd:attribute name="anchor"/>
    <xsd:attribute name="spacing" type="xsd:string" use="required"/>
    <xsd:attribute name="densityfactor"/>
  </xsd:complexType>

  <xsd:complexType name="Pan">
    <xsd:attribute name="allowed"/>
    <xsd:attribute name="min"/>
    <xsd:attribute name="max"/>
  </xsd:complexType>

  <xsd:complexType name="Zoom">
    <xsd:attribute name="allowed"/>
    <xsd:attribute name="min"/>
    <xsd:attribute name="max"/>
    <xsd:attribute name="anchor"/>
  </xsd:complexType>

  <xsd:complexType name="Binding">
    <xsd:attribute name="id"  use="required"/>
    <xsd:attribute name="min" use="required"/>
    <xsd:attribute name="max" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="AxisControls">
    <xsd:attribute name="visible"/>
  </xsd:complexType>

  <xsd:complexType name="Plot">
    <xsd:all minOccurs="0" maxOccurs="1">
      <xsd:element name="legend"         type="PlotLegend"/>
      <xsd:element name="horizontalaxis" type="PlotAxis"/>
      <xsd:element name="verticalaxis"   type="PlotAxis"/>
      <xsd:element name="filter"         type="PlotFilter"/>
      <xsd:element name="renderer"       type="Renderer"/>
      <xsd:element name="datatips"       type="Datatips"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="PlotAxis">
    <xsd:sequence>
      <xsd:element name="variable" type="PlotVariable" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="constant" type="PlotConstant" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="PlotVariable">
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
    <xsd:attribute name="factor"/>
  </xsd:complexType>

  <xsd:complexType name="PlotConstant">
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="Renderer">
    <xsd:sequence>
      <xsd:element name="option" type="RendererOption" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="RendererType" use="required"/>
  </xsd:complexType>

  <xsd:simpleType name="RendererType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="line"/>
      <xsd:enumeration value="bar"/>
      <xsd:enumeration value="fill"/>
      <xsd:enumeration value="point"/>
      <xsd:enumeration value="lineerror"/>
      <xsd:enumeration value="barerror"/>
      <xsd:enumeration value="pointline"/>
    </xsd:restriction>
  </xsd:simpleType>  

  <xsd:complexType name="RendererOption">
    <xsd:attribute name="name"  type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
    <xsd:attribute name="min"   type="xsd:string"/>
    <xsd:attribute name="max"   type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="PlotFilter">
    <xsd:sequence>
      <xsd:element name="option" type="FilterOption" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type"/>
  </xsd:complexType>

  <xsd:complexType name="FilterOption">
    <xsd:attribute name="name"/>
    <xsd:attribute name="value"/>
  </xsd:complexType>

  <xsd:complexType name="PlotLegend">
    <xsd:attribute name="visible"/>
    <xsd:attribute name="label"/>
  </xsd:complexType>

  <xsd:complexType name="Datatips">
    <xsd:sequence>
      <xsd:element name="variable" type="DatatipsVariable" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="format"/>
    <xsd:attribute name="bgcolor"/>
    <xsd:attribute name="bgalpha"/>
    <xsd:attribute name="border"/>
    <xsd:attribute name="bordercolor"/>
    <xsd:attribute name="pad"/>
  </xsd:complexType>

  <xsd:complexType name="DatatipsVariable">
    <xsd:attribute name="format"/>
  </xsd:complexType>

  <xsd:complexType name="Data">
    <xsd:sequence>
      <xsd:element name="variables" type="Variables" minOccurs="0" maxOccurs="1"/>
      <xsd:choice>
        <xsd:element name="values"  type="xsd:string"  minOccurs="0" maxOccurs="1"/>
        <xsd:element name="csv"     type="CSVLocation" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="service" type="CSVLocation" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Variables">
    <xsd:sequence>
      <xsd:element name="variable" type="Variable" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="missingvalue" type="xsd:string"/>
    <xsd:attribute name="missingop"    type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="Variable">
    <xsd:attribute name="id"     type="xsd:string"/>
    <xsd:attribute name="column" type="xsd:integer" />
    <xsd:attribute name="type"   type="DataType"/>
  </xsd:complexType>

  <xsd:complexType name="CSVLocation">
    <xsd:attribute name="location" type="xsd:string"/>
  </xsd:complexType>

</xsd:schema>
