mugl-editor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="1.0"
	    elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:appinfo>
      <jxb:globalBindings fixedAttributeAsConstantProperty="true"
                          generateIsSetMethod="true"/>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:element name="mugl" type="Graph"/>

  <xsd:complexType name="Graph">
    <xsd:choice>
      <xsd:group ref="GraphContent"/>
      <xsd:element name="graph" type="Graph" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:choice>
    <xsd:attribute name="x"      type="xsd:integer"/>
    <xsd:attribute name="y"      type="xsd:integer"/>
    <xsd:attribute name="width"  type="xsd:integer"/>
    <xsd:attribute name="height" type="xsd:integer"/>
  </xsd:complexType>

  <xsd:group name="GraphContent">

    <!--
      * REVIEW: this does not say exactly what we want here.  What we want
      * is to specify that the 8 elements below may appear intermixed in any
      * order, but the window, legend, background, and plotarea elements may
      * each appear at most once, whereas the horizontalaxis, verticalaxis,
      * plot, data may each appear any number of times.  I am pretty sure that
      * the way this is written now will allow all 8 of them to appear any
      * number of times (because of the maxOccurrs="unbounded" on the
      * containing xsd:choice element), but so far I have not been able to
      * figure out how to write the xsd to express this exactly, so it is
      * currently written to be too lenient.  HELP!
      * mbp Thu May 10 09:07:20 EDT 2012
    -->
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="window"         type="Window"     minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ui"             type="UI"         minOccurs="0" maxOccurs="1"/>
      <xsd:element name="legend"         type="MuglLegend" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="background"     type="Background" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="plotarea"       type="Plotarea"   minOccurs="0" maxOccurs="1"/>
      <xsd:element name="horizontalaxis" type="Axis"       minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="verticalaxis"   type="Axis"       minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="plot"           type="Plot"       minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="data"           type="Data"       minOccurs="0" maxOccurs="unbounded"/>
    </xsd:choice>
  </xsd:group>

  <xsd:simpleType name="RGBColor">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.RGBColor"
                    parseMethod="org.multigraph.RGBColor.parse"
                    printMethod="org.multigraph.RGBColor.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:complexType name="Window">
    <xsd:attribute name="width"       type="xsd:integer"/>
    <xsd:attribute name="height"      type="xsd:integer"/>
    <xsd:attribute name="border"      type="xsd:integer" default="2"/>
    <xsd:attribute name="margin"      type="xsd:integer" default="2"/>
    <xsd:attribute name="padding"     type="xsd:integer" default="5"/>
    <xsd:attribute name="bordercolor" type="RGBColor"    default="0x000000"/>
  </xsd:complexType>

  <xsd:complexType name="UI">
    <xsd:attribute name="eventhandler"/>
  </xsd:complexType>

  <xsd:complexType name="MuglLegend">
    <xsd:sequence>
      <xsd:element name="icon" type="LegendIcon" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="visible"/>
    <xsd:attribute name="base"/>
    <xsd:attribute name="anchor"/>
    <xsd:attribute name="position"/>
    <xsd:attribute name="frame"/>
    <xsd:attribute name="color"/>
    <xsd:attribute name="bordercolor"/>
    <xsd:attribute name="opacity"      type="xsd:double"/>
    <xsd:attribute name="border"       type="xsd:integer"/>
    <xsd:attribute name="rows"         type="xsd:integer"/>
    <xsd:attribute name="columns"      type="xsd:integer"/>
    <xsd:attribute name="cornerradius" type="xsd:integer"/>
    <xsd:attribute name="padding"      type="xsd:integer"/>
  </xsd:complexType>

  <xsd:complexType name="LegendIcon">
    <xsd:attribute name="height" type="xsd:integer"/>
    <xsd:attribute name="width"  type="xsd:integer"/>
    <xsd:attribute name="border" type="xsd:integer"/>
  </xsd:complexType>

  <xsd:complexType name="Background">
    <xsd:sequence>
      <xsd:element name="img" type="BackgroundImage" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="color" default="0xffffff"/>
  </xsd:complexType>

  <xsd:complexType name="BackgroundImage">
    <xsd:attribute name="src"      type="xsd:string" use="required"/>
    <xsd:attribute name="anchor"   type="xsd:string"/>
    <xsd:attribute name="base"     type="xsd:string"/>
    <xsd:attribute name="position" type="xsd:string"/>
    <xsd:attribute name="frame"    type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="Plotarea">
    <xsd:attribute name="marginbottom" type="xsd:integer" default="35"/>
    <xsd:attribute name="marginleft"   type="xsd:integer" default="38"/>
    <xsd:attribute name="margintop"    type="xsd:integer" default="10"/>
    <xsd:attribute name="marginright"  type="xsd:integer" default="35"/>
    <xsd:attribute name="border"       type="xsd:integer" default="0"/>
    <xsd:attribute name="bordercolor"  type="xsd:integer" default="0xeeeeee"/>
  </xsd:complexType>

  <xsd:simpleType name="DPoint">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.DPoint"
                    parseMethod="org.multigraph.DPoint.parse"
                    printMethod="org.multigraph.DPoint.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:complexType name="Axis">
    <xsd:all minOccurs="0" maxOccurs="1">
      <xsd:element name="title"        type="Title"/>
      <xsd:element name="labels"       type="Labels"/>
      <xsd:element name="grid"         type="Grid"/>
      <xsd:element name="pan"          type="Pan"/>
      <xsd:element name="zoom"         type="Zoom"/>
      <xsd:element name="binding"      type="Binding"/>
      <xsd:element name="axiscontrols" type="AxisControls"/>
    </xsd:all>
    <xsd:attribute name="id"          type="xsd:string"/>
    <xsd:attribute name="type"        type="DataType"        default="number"/>
    <xsd:attribute name="length"      type="xsd:double"      default="1.0"/>
    <xsd:attribute name="position"    type="xsd:integer"     default="0"/>
    <xsd:attribute name="pregap"/>
    <xsd:attribute name="postgap"/>
    <xsd:attribute name="anchor"/>
    <xsd:attribute name="base"        type="xsd:string"      default="-1 1"/>
    <xsd:attribute name="min"         type="DataValueString" default="auto"/>
    <xsd:attribute name="minoffset"/>
    <xsd:attribute name="minposition"/>
    <xsd:attribute name="max"         type="DataValueString" default="auto"/>
    <xsd:attribute name="maxoffset"/>
    <xsd:attribute name="maxposition"/>
    <xsd:attribute name="positionbase"/>
    <xsd:attribute name="color"       type="RGBColor"        default="0x000000"/>
    <xsd:attribute name="tickmin"     type="xsd:integer"     default="-3"/>
    <xsd:attribute name="tickmax"     type="xsd:integer"     default="3"/>
    <xsd:attribute name="highlightstyle"/>
    <xsd:attribute name="linewidth"   type="xsd:integer"     default="1"/>
    <xsd:attribute name="orientation" type="AxisOrientation" default="unknown"/>
  </xsd:complexType>

  <xsd:simpleType name="DataType">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.datatypes.DataType"
                    parseMethod="org.multigraph.datatypes.DataType.parse"
                    printMethod="org.multigraph.datatypes.DataType.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="number"/>
      <xsd:enumeration value="datetime"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DataValueString">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.datatypes.string.StringValue"
                    parseMethod="org.multigraph.datatypes.string.StringValue.parse"
                    printMethod="org.multigraph.datatypes.string.StringValue.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AxisOrientation">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.AxisOrientation"
                    parseMethod="org.multigraph.AxisOrientation.parse"
                    printMethod="org.multigraph.AxisOrientation.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="horizontal"/>
      <xsd:enumeration value="vertical"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Title" mixed="true">
    <xsd:attribute name="position"/>
    <xsd:attribute name="anchor"/>
    <xsd:attribute name="angle" type="xsd:double"/>
  </xsd:complexType>

  <xsd:complexType name="Grid">
    <xsd:attribute name="color"   type="RGBColor"    default="0xeeeeee"/>
    <xsd:attribute name="visible" type="xsd:boolean" default="false"/>
  </xsd:complexType>

  <xsd:complexType name="Labels">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="label" type="Label"/>
    </xsd:sequence>
    <xsd:attribute name="format"   type="xsd:string" default="%1d"/>
    <xsd:attribute name="start"    type="xsd:string" default="0"/>
    <xsd:attribute name="angle"    type="xsd:double" default="0.0"/>
    <xsd:attribute name="position" type="DPoint"     default="0 0"/>
    <xsd:attribute name="anchor"   type="DPoint"     default="0 0"/>
    <xsd:attribute name="spacing"  type="xsd:string" default="10000 5000 2000 1000 500 200 100 50 20 10 5 2 1 0.1 0.01 0.001"/>
    <xsd:attribute name="defaultDatetimeSpacing" type="xsd:string"
     fixed="1000Y 500Y 200Y 100Y 50Y 20Y 10Y 5Y 2Y 1Y 6M 3M 2M 1M 7D 3D 2D 1D 12H 6H 3H 2H 1H"/>
    <xsd:attribute name="function"/>
    <xsd:attribute name="densityfactor"/>
  </xsd:complexType>

  <xsd:complexType name="Label">
    <xsd:attribute name="format"   type="xsd:string"/>
    <xsd:attribute name="start"    type="xsd:string"/>
    <xsd:attribute name="angle"    type="xsd:double"/>
    <xsd:attribute name="position" type="DPoint"/>
    <xsd:attribute name="anchor"   type="DPoint"/>
    <xsd:attribute name="spacing"  type="xsd:string" use="required"/>
    <xsd:attribute name="densityfactor"/>
  </xsd:complexType>

  <xsd:complexType name="Pan">
    <xsd:attribute name="allowed"/>
    <xsd:attribute name="min"/>
    <xsd:attribute name="max"/>
  </xsd:complexType>

  <xsd:complexType name="Zoom">
    <xsd:attribute name="allowed"/>
    <xsd:attribute name="min"/>
    <xsd:attribute name="max"/>
    <xsd:attribute name="anchor"/>
  </xsd:complexType>

  <xsd:complexType name="Binding">
    <xsd:attribute name="id"  use="required"/>
    <xsd:attribute name="min" use="required"/>
    <xsd:attribute name="max" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="AxisControls">
    <xsd:attribute name="visible"/>
  </xsd:complexType>

  <xsd:complexType name="Plot">
    <xsd:all minOccurs="0" maxOccurs="1">
      <xsd:element name="legend"         type="PlotLegend"/>
      <xsd:element name="horizontalaxis" type="PlotAxis"/>
      <xsd:element name="verticalaxis"   type="PlotAxis"/>
      <xsd:element name="filter"         type="PlotFilter"/>
      <xsd:element name="renderer"       type="Renderer"/>
      <xsd:element name="datatips"       type="Datatips"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="PlotAxis">
    <xsd:sequence>
      <xsd:element name="variable" type="PlotVariable" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="constant" type="PlotConstant" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="PlotVariable">
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
    <xsd:attribute name="factor"/>
  </xsd:complexType>

  <xsd:complexType name="PlotConstant">
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="Renderer">
    <xsd:sequence>
      <xsd:element name="option" type="RendererOption" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="RendererType" use="required"/>
  </xsd:complexType>

  <xsd:simpleType name="RendererType">
    <xsd:annotation>
    <xsd:appinfo>
      <jxb:javaType name="org.multigraph.RendererType"
                    parseMethod="org.multigraph.RendererType.parse"
                    printMethod="org.multigraph.RendererType.toString"/>
    </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="line"/>
      <xsd:enumeration value="bar"/>
      <xsd:enumeration value="fill"/>
      <xsd:enumeration value="point"/>
      <xsd:enumeration value="lineerror"/>
      <xsd:enumeration value="barerror"/>
      <xsd:enumeration value="pointline"/>
    </xsd:restriction>
  </xsd:simpleType>  

  <xsd:complexType name="RendererOption">
    <xsd:attribute name="name"  type="xsd:string" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
    <xsd:attribute name="min"   type="xsd:double"/>
    <xsd:attribute name="max"   type="xsd:double"/>
  </xsd:complexType>

  <xsd:complexType name="PlotFilter">
    <xsd:sequence>
      <xsd:element name="option" type="FilterOption" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="type"/>
  </xsd:complexType>

  <xsd:complexType name="FilterOption">
    <xsd:attribute name="name"/>
    <xsd:attribute name="value"/>
  </xsd:complexType>

  <xsd:complexType name="PlotLegend">
    <xsd:attribute name="visible"/>
    <xsd:attribute name="label"/>
  </xsd:complexType>

  <xsd:complexType name="Datatips">
    <xsd:sequence>
      <xsd:element name="variable" type="DatatipsVariable" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="format"/>
    <xsd:attribute name="bgcolor"/>
    <xsd:attribute name="bgalpha"/>
    <xsd:attribute name="border"/>
    <xsd:attribute name="bordercolor"/>
    <xsd:attribute name="pad"/>
  </xsd:complexType>

  <xsd:complexType name="DatatipsVariable">
    <xsd:attribute name="format"/>
  </xsd:complexType>

  <xsd:complexType name="Data">
    <xsd:sequence>
      <xsd:element name="variables" type="Variables" minOccurs="0" maxOccurs="1"/>
      <xsd:choice>
        <xsd:element name="values"  type="xsd:string"  minOccurs="0" maxOccurs="1"/>
        <xsd:element name="csv"     type="CSVLocation" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="service" type="CSVLocation" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Variables">
    <xsd:sequence>
      <xsd:element name="variable" type="Variable" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="missingvalue" type="xsd:string"/>
    <xsd:attribute name="missingop"    type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="Variable">
    <xsd:attribute name="id"           type="xsd:string" use="required"/>
    <xsd:attribute name="column"       type="xsd:integer"/>
    <xsd:attribute name="type"         type="DataType" default="number"/>
    <xsd:attribute name="missingvalue" type="xsd:string"/>
    <xsd:attribute name="missingop"    type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="CSVLocation">
    <xsd:attribute name="location" type="xsd:string"/>
  </xsd:complexType>

</xsd:schema>
